@import "../../App.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 4rem;
}

.header__search {
    font-size: $small-font-size;
    color: $text-color;
    width: 50%;

    padding: .2rem 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 576px) {
    .header {
        flex-direction: column;
        gap: .6rem;
    }

    .header__search {
        width: 100%;
    }
}


