@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADB5BD;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

h1, h2, h3 {
  color: #495057;
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

span {
  font-size: 0.8rem;
  color: white;
  padding: 0 0.4rem;
}

.fa-solid {
  color: red;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  padding: 1.5rem 1rem 2rem 4rem;
}

.movie__all-title,
.movie__favourite-title {
  padding-left: 1rem;
}

.movie__all-row,
.movie__favourite-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 1.3rem 1rem 2rem 3rem;
  }
}
@media screen and (max-width: 576px) {
  .section {
    padding: 0rem 1rem 1.5rem 1rem;
  }
}